<li class="nav-item has-treeview <%- misc.route_name=='auction-manager'? 'active' :'' %>">
    <a href="/auction-manager" class="nav-link <%- misc.route_name=='auction-manager'? 'active' :'' %>">
        <i class="fa fa-book nav-icon"></i>
        <p>Auction Manager</p>
    </a>
</li>