<li class="nav-item has-treeview <%- misc.route_name=='sell-manager'? 'active' :'' %>">
    <a href="/sell-manager" class="nav-link <%- misc.route_name=='sell-manager'? 'active' :'' %>">
        <i class="fas fa-shopping-cart nav-icon"></i>
        <p>Sell Manager</p>
    </a>
</li>