<div class="login-box">
    <div class="card">
        <div class="card-body login-card-body">
            <div class="login-logo">
                <a href="<%- SITEURL+'/admin'%>" class="css-logo"><img src="<%- SITEURL+'/public/uploads/'+configure.logo %>"/></a>
            </div>
            <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
            <form action="/admin/reset-password" method="post">
                <input type="hidden" name="_token" value="<%= misc.token %>">
                <input type="hidden" name="_id" value="<%= misc._id %>">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password_confirmation" placeholder="Confirm Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-info btn-block">Change password</button>
                    </div>
                </div>
            </form>
            <div class="social-auth-links text-center mb-3 3 mt-3">
                <p>- OR -</p>
                <a href="/admin">SignIn from here</a>
            </div>
        </div>
    </div>
</div>