<li
	class="nav-item has-treeview <%- misc.route_name=='user-manager'? 'active' :'' %>"
>
	<a
		href="/user-manager"
		class="nav-link <%- misc.route_name=='user-manager'? 'active' :'' %>"
	>
		<i class="fa fa-users nav-icon"></i>
		<p>Users Manager</p>
	</a>
</li>
