<li class="nav-item has-treeview <%- misc.route_name=='social-manager'? 'active' :'' %>">
    <a href="/social-manager" class="nav-link <%- misc.route_name=='social-manager'? 'active' :'' %>">
        <i class="fa fa-book nav-icon"></i>
        <p>Social Manager</p>
    </a>
</li>