<li
	class="nav-item has-treeview <%- misc.route_name=='report-manager'? 'active' :'' %>"
>
	<a
		href="/report-manager"
		class="nav-link <%- misc.route_name=='report-manager'? 'active' :'' %>"
	>
		<i class="far fa-circle nav-icon"></i>
		<p>Report Manager</p>
	</a>
</li>
