<li class="nav-item has-treeview <%- misc.route_name=='mynft-manager'? 'active' :'' %>">
    <a href="/mynft-manager" class="nav-link <%- misc.route_name=='mynft-manager'? 'active' :'' %>">
        <i class="fas fa-project-diagram nav-icon"></i>
        <p>MY NFT Manager</p>
    </a>
</li>