<li class="nav-item has-treeview <%- misc.route_name=='deal-manager'? 'active' :'' %>">
    <a href="/deal-manager" class="nav-link <%- misc.route_name=='deal-manager'? 'active' :'' %>">
        <i class="nav-icon fas fa-database"></i>
        <p>Deal Manager</p>
    </a>
</li>